@import "tailwindcss";

body,
#root {
  font-family: "Poppins";
  overflow-x: hidden;
}

@media (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}

@theme {
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  --animate-wiggle: wiggle 10s linear infinite;

  @keyframes animate-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  --animate-scroll: animate-scroll 10s linear infinite;
}

@layer {
  .paused {
    animation-play-state: paused;
  }
}
