@import "tailwindcss";

body,
#root {
  font-family: "Poppins";
  width: 100vw;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

@theme {
  @keyframes wiggle {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  --animate-wiggle: wiggle 5s linear infinite;

  @keyframes animate-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-105%);
    }
  }
  --animate-scroll: animate-scroll 15s linear infinite;
}

@layer {
  .paused {
    animation-play-state: paused;
  }
}
